* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #f4c531;
}

.wrapper {
    box-sizing: border-box;
    width: 26.87em;
    padding: 2.5em 3em;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
}

.card-container{
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
}

.card-efore,
.card-after{
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000000;
    transition: transform 0.7s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: transform 0.7s ease-out;
    -moz-transition: transform 0.7s ease-out;
    -ms-transition: transform 0.7s ease-out;
    -o-transition: transform 0.7s ease-out;
}

